*{
    margin: 0;
    padding: 0;
}
body{
    background-color: yellowgreen;
}
#container{
    width: 250px;
    height: 250px;
    box-shadow: 10px 10px 30px green;
    box-shadow: -10px -10px 30px yellow; 
    background-color: aqua;  
}
#clock{
    width: 210px;
    height: 210px;
    background: url(sunset.jpg) center;
    position: absolute;
    background-size: cover;
    box-shadow: inset 10px 10px 30px orange;
    box-shadow: inset -10px -10px 30px blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#clock, #container{
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50px;
    border-radius: 50%;
}
#clock::before{
    content: '';
    width: 10px;
    height: 10px;
    background-color: pink ;
    position: absolute;
    top:46%;
    left:46%;
    border-radius:50%;
    border: 4px solid wheat;
}
#hr{
    width: 115px;
    height: 115px;
}
#min{
    width: 180px;
    height: 180px;
}
#sec{
    width: 140px;
    height: 150px;
}
#hr, #min, #sec{
    border:1px solid;
    position: absolute;
    display: flex;
    justify-content: center;
}
#hr::before{
    position: absolute;
    content: '';
    width: 70px;
    height: 60px;
    background-color: whitesmoke;
    border-radius: 10px;
    z-index: -10;
}
#min::before{
    position: absolute;
    content: '';
    width: 4px;
    height: 95px;
    background-color: black;
    border-radius: 14px;
    z-index: 0;

}
#sec::before{
    position: absolute;
    content: '';
    width: 3px;
    height: 95px;
    background-color: black;
    border-radius: 8px;
    z-index: 10;

}
